#container-cart {
  margin: 5% 0% 5% 0%;
  padding: 0 8% 0 2%;
}

#products-info-cart {
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

/* Title */

#go-back-cart {
  padding-top: 10px;
}

#title-cart {
  color: white;
  margin: 0;
  padding: 2% 0 2% 0;
  top: 50%;
  background-color: var(--main-color);
}

#amount-items-cart {
  position: relative;
  font-size: x-large;
}

/* Column names */

#column-names-cart {
  padding: 5% 8.5% 5% 8.5%;
  font-size:x-large;
}

/* Items */

#items-cart-container {
  max-width: 700px;
  min-width: 56%;
  width: 750px;
  margin: 4% 0 4% 0;
}

#items-row-cart {
  display: inline-block !important;
  max-width: 700px;
}

#items-inner-cart {
  color: var(--main-dark-color);
  background-color: transparent;
  border-radius: 1.5%;
}

#items-inner-cart a {
  text-decoration: none;
  color: var(--main-dark-color);
}

.item-container-cart {
  max-width: 95vw;
  width: 650px;
}

.item-cart {
  max-width: 700px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 0 4% 0;
  background-color: white;
  color: black;
  overflow: hidden;
}

.col-item-cart {
  display: flex;
  justify-content: center;
}

.col-item-img-cart {
  width: 223.5px;
  display: flex;
  justify-content: left;
  padding-left: 0;
}

.col-item-img-cart img{
  height: 150px;
}

.item-info-container-cart {
  width: 350px;
  text-align: left;
  position: relative;
}

.items-buy-info-cart {
  text-align: left;
}


.amount-items-buy-info-cart {
  color: var(--main-dark-color);
  font-weight: 500;
  text-align: end;
}

.item-title-cart {
  padding-top: 2.5%;
  height: 50px;
}

.item-amount-cart {
  position: absolute;
  transform: translateY(50%);
}

.item-price-cart {
  position: absolute;
  transform: translateY(250%);
  font-size: larger;
  color: var(--main-dark-color)
}

/* Delete icon */

.delete-icon-col-cart {
  position: relative;
}

.delete-icon-cart {
  width: 60px;
  cursor: pointer;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  padding: 0 5% 0 0;
}

.delete-icon-cart img {
  width: 35px;
}

.delete-icon-cart img:hover {
  opacity: 70%;
}

/* No items */

#no-items-cart {
  padding: 22.5% 0 0 0;
}

#no-items-cart button {
  margin: 5% 0 0 0;
  height: 45px;
  width: 10rem;
}

/* Summary */

#button-container-cart{
  margin: 10% 0 4% 0;
}

.button-cart{
  height: 2rem;
  min-height: 100%;
  margin: 2% 0 2% 0;
  width: 150px;
  border-width: 0;

  font-weight: 600;
  border-color: transparent;
  background-color: var(--main-semi-dark-color);
}

.button-cart:hover, .button-cart:focus{
  box-shadow: none !important;
  background-color: var(--main-color);
}

.buy-info-cart {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  padding: 2.5% 0 2.5% 0;
  margin: 0 0 0 1%;
}

.title-buy-info-cart {
  font-weight: 400;
  text-align: start;
}


.result-buy-info-cart {
  color: var(--main-dark-color);
  font-weight: 500;
  text-align: end;
}

@media (max-width: 768px) {
  
  /* No items */

  #no-items-cart {
    padding: 25vw 0 10vw 0;
  }

  #no-items-cart h1{
    font-size: 6vw;
  }

  #no-items-cart button{
    width: 40vw;
    height: 10vw;
    font-size: 4vw;
  }

  /* Items */

  .col-item-img-cart {
      position: relative;
      width: 26vw !important;
  }

  .img-item-cart {
    height: 100% !important;
    width: 26vw !important;
  }

  .item-title-cart {
    transform: translateX(2vw);
    padding: 2.5% 0 0 0;
    text-align: start;
    font-size: 2vw;
  }

  .item-amount-cart {
    padding: 0;
    transform: translateX(2vw);
    top: 40%;
    font-size: 2vw;
  }

  .item-price-cart {
    padding: 0;
    transform: translateX(2vw);
    top: 78.5%;
    font-size: 2vw;
  }

  .item-info-container-cart {
    width: 50%;
  }

  /* Delete item */

  .delete-icon-cart {
    height: 100px;
    width: 7.5vw;
  }
  .delete-icon-cart img {
    width: 4vw;
  }
}

/* Summary */

@media (max-width: 1262px) {
  #container-cart {
    width: 80%;
    padding: 0 5% 0 5%;
  }

  #products-info-cart h1 {
    padding-top: 1vw;
    font-size: 5vw;
  }

  .buy-info-cart p {
    font-size: 5vw;
  }

  #button-container-cart button{
    height: 6vw;
    width: 32vw;
    font-size: 3vw;
  }

  .summary-button-cart {
    padding: 0;
    width: 30vw;
  }
 
} 