#container-cart {
  min-width: 90%;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  margin: 5% 5% 5% 5%;
}

/* Title */

#title-cart {
  color: white;
  margin: 0;
  padding: 2% 0 1% 0;
  top: 50%;
  background-color: var(--main-color);
}

#amount-items-cart {
  position: relative;
  font-size: x-large;
}

/* Column names */

#column-names-cart {
  padding: 5% 8.5% 5% 8.5%;
  font-size:x-large;
}

/* Items */

.item-container-cart {
  padding: 0% 8.5% 0% 8.5%;
}

.item-cart {
  border: solid gainsboro;
  border-width: 1px;
  margin: 0 0 1% 0;
}

.col-item-cart {
  display: flex;
  justify-content: center;
  position: relative;
}

.col-item-img-cart {
  display: flex;
  justify-content: left;
  padding-left: 0;
}
.col-item-img-cart img{
  border: solid gainsboro;
  border-width: 1px;
}

.col-item-cart p, .col-item-cart h5, .col-item-cart span {
  text-align: center;
  position:absolute;
  top:50%;
  transform: translateY(-50%);

  padding: 0 10% 0 10%;
}

.item-price-cart {
  font-size: larger;
  color: var(--main-dark-color)
}

.delete-icon-cart {
  cursor: pointer;
}