#container-cart {
  position: relative;
  margin: 5% 0% 5% 0%;
  padding: 0 8% 0 2%;
}

#products-info-cart {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
}

/* Title */

#go-back-cart {
  padding-top: 10px;
}

#title-cart {
  color: white;
  margin: 0;
  padding: 2% 0 2% 0;
  top: 50%;
  background-color: var(--main-color);
}

#amount-items-cart {
  position: relative;
  font-size: x-large;
}

/* Column names */

#column-names-cart {
  padding: 5% 8.5% 5% 8.5%;
  font-size:x-large;
}

/* Items */

#items-cart-container {
  max-width: 700px;
  min-width: 56%;
  width: 750px;
  margin: 4% 0 4% 0;
}

#items-row-cart {
  display: inline-block !important;
  max-width: 700px;
}

#items-inner-cart {
  color: var(--main-dark-color);
  background-color: transparent;
  border-radius: 1.5%;
}

#items-inner-cart a {
  text-decoration: none;
  color: var(--main-dark-color);
}

.item-container-cart {
  max-width: 95vw !important;
  width: 650px !important;
}

.item-cart {
  max-width: 700px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0 0 4% 0;
  background-color: white;
  color: black;
  overflow: hidden;
}

.col-item-cart {
  display: flex !important;
  justify-content: center;
}

.col-item-img-cart {
  width: 223.5px  !important;
  display: flex !important;
  justify-content: left !important;
  padding-left: 0 !important;
}

.col-item-img-cart img{
  height: 150px;
}

.col-item-img-cart img:hover{
  opacity: 80%;
}

.item-info-container-cart {
  width: 350px !important;
  text-align: left !important;
  position: relative;
}

.items-buy-info-cart {
  text-align: left;
}


.amount-items-buy-info-cart {
  color: var(--main-dark-color);
  font-weight: 500;
  text-align: end;
}

.item-title-cart {
  padding-top: 2.5% !important;
  height: 50px;
}

.item-amount-cart {
  font-size: large;
  font-weight: 600;
  position: absolute;
  transform: translateY(50%);
  color: gray;
}

.item-amount-cart input {
  width: 45px;
}

.item-price-cart {
  position: absolute !important;
  transform: translateY(250%) !important;
  font-size: larger !important;
  color: var(--main-dark-color)
}

/* Delete icon */

.delete-icon-col-cart {
  width: 7.5vw;
  position: relative;
}

.delete-icon-cart {
  width: 60px !important;
  cursor: pointer;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  padding: 0 65px 0 0;
}

.delete-icon-cart img {
  width: 35px;
}

.delete-icon-cart img:hover {
  opacity: 70%;
}

/* No items */

#no-items-cart {
  padding: 22.5% 0 0 0;
}

#no-items-cart button {
  margin: 5% 0 0 0 !important;
  height: 45px !important;
  width: 10rem !important;
}

/* Summary */

#button-container-cart{
  margin: 10% 0 4% 0;
}

.button-cart{
  height: 2rem !important;
  min-height: 100% !important;
  margin: 2% 0 2% 0 !important;
  width: 150px !important;
  border-width: 0 !important;

  font-weight: 600 !important;
  border-color: transparent !important;
  background-color: var(--main-dark-color) !important;
}

.button-cart:hover, .button-cart:focus{
  box-shadow: none !important;
  background-color: var(--main-color) !important;
}

.buy-info-cart {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  padding: 2.5% 0 2.5% 0;
  margin: 0 0 0 1%;
}

.title-buy-info-cart {
  font-weight: 400;
  text-align: start;
}


.result-buy-info-cart {
  color: var(--main-dark-color);
  font-weight: 500;
  text-align: end;
}

@media (max-width: 768px) {
  
  /* No items */

  #no-items-cart {
    padding: 25vw 0 10vw 0;
  }

  #no-items-cart h1{
    font-size: 6vw;
  }

  #no-items-cart button{
    width: 40vw !important;
    height: 10vw !important;
    font-size: 4vw !important;
  }

  /* Items */

  .col-item-img-cart {
      position: relative;
      width: 26vw !important;
  }

  .item-container-cart {
    padding: 0 7.5% 0 7.5% !important;
  }

  .img-item-cart {
    max-height: 21vw !important;
    min-width: 22vw !important;
  }

  .item-title-cart {
    transform: translateX(2vw)  !important;
    padding: 2.5% 0 0 0;
    text-align: start;
    font-size: 2vw  !important;
  }

  .item-amount-cart {
    padding: 0;
    transform: translateX(2vw)  !important;
    top: 40%;
    font-size: 2vw  !important;
  }

  .item-amount-cart input {
    width: 6vw;
  }

  .item-price-cart {
    padding: 0;
    transform: translateX(2vw)  !important;
    top: 78.5%;
    font-size: 2vw  !important;
  }

  .item-info-container-cart {
    width: 50% !important;
  }

  /* Delete item */

  .delete-icon-cart {
    right: -5%;
    transform: translateY(-2.2rem);
    padding: 0 !important;
    height: 35px;
    width: 20.5vw !important;
  }
  .delete-icon-cart img {
    width: 4vw;
  }

  @media (width: 768px) { .delete-icon-cart { transform: translate(5vw,-3vw) }}}

/* Summary */

@media (max-width: 1176px) {
  #container-cart {
    width: 80%;
    padding: 0 5% 0 5%;
  }

  #products-info-cart h1 {
    padding-top: 1vw;
    font-size: 3.5vw;
  }

  .buy-info-cart p {
    font-size: 3.5vw;
  }

  #button-container-cart button{
    height: 6vw !important;
    width: 32vw !important;
    font-size: 3vw !important;
  }

  .summary-button-cart {
    padding: 0 !important;
    width: 30vw !important;
  }
 
} 