#modal-choser-modal .modal-content {
  border: none;
}

#header-choser-modal {
  border: none;
  color: white;
  background-color: var(--main-color);
}

#contained-modal-title-vcenter {
  font-size:x-large;
}

.card-img-modal {
  margin: 1% 0% 1% 0%;
  width: 10rem !important;
}

.card-img-modal:hover {
  opacity: 90%;
}
 /* Body */
.body-choser-modal {
  padding: 0 0 12.5px 0 !important;
}

.item-container-choser-modal {
  --bs-gutter-x: 0 !important;
}

/* Title */
.title-choser-modal {
  height: 15px;
}