#item-list-container {
  background-color: #398c91;/*#fdf5c9;*/
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  color: white;
}

#producto-seleccionado {
  margin: 0 0 50px 0;
  height: 400px;
}