#item-list-container {
  background-color: #398c91;/*#fdf5c9;*/
  font-family: Arial, Helvetica, sans-serif;
}

#greeting {
  padding: 5% 0 1.5% 0
}

h3 {color: white;}

hr {
  color: white;
  margin: 0 10% 0 10%;
}

#lista-productos {
  margin: 0 7.5% 0 7.5%;
  justify-content: center;
}

#producto-seleccionado {
  margin: 5% 0 5% 0;
  height: 400px;
}