#bg-superior-inner {
    padding-top:    calc(var(--vh, 1vh) * 15);
    padding-bottom: calc(var(--vh, 1vh) * 15);
  }
  
  #bg-superior {
    background-color: #dee5f5;
    background: url('../../../public/background.jpg')
      no-repeat center 100% fixed;
    background-size: cover;
    
    height: calc(var(--vh, 1vh) * 100);
    min-height: 500px;
  }
  
  #logo-banner {
    background: url('../../../public/icon-banner.png')
      no-repeat center center;
    height: 55vh;
    display: block;
  
    /* Para que no se corte la imagen */
    -webkit-background-size: contain;
    -moz-background-size:    contain;
    -o-background-size:      contain;
    background-size:         contain;
    /*--------------------------------*/
  }