#navigator {
  background-color:var(--main-color);
  margin:0;
}

/* Logo */

#logo {
  margin: 0;

  width: 120px;
  font-family: Arial;
  font-weight:bolder;
  font-size: xx-large;
  color: white;
}

#logo:hover {
  opacity: 80%;
}

/* Options */

.navbar-nav a:hover  {
  opacity: 70%;
}

#navbarScroll {
  flex-grow: 0;
  margin-right: 0%;
}

#navbarScroll a {
  color: whitesmoke;
  margin-right: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#nav-container {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

/* Toggler */

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
}

#nav-toggle {
  margin-right: 1.5%;
}

/* Dropdown items */

#navigator .dropdown-menu  {
  background-color: var(--main-semi-dark-color);
}

#navigator .dropdown-item:hover, #navigator .dropdown-item:active {
  background-color: var(--main-dark-color);
}

#navigator .dropdown-menu .dropdown-item {
  text-decoration: none !important;
}

/* Cart */

#cart {
  padding: 0;
  vertical-align:middle;
  width: 45px;
  height: 45px;
}

#link-cart-navbar {
  position: relative;
}

#link-cart-navbar:hover {
  opacity: 80%;
}

#cant-items-navbar {
  position: absolute;
  font-size: 16.5px;
  font-weight: 600;
  width: 20px;
   left: 80%;
  top:-5%; 
  border-radius: 10px;
  background-color: var(--main-dark-color);
  color: white;
}