#navegador {
  z-index: 1000;
  background-color:var(--main-color);
  margin:0;
  width: 100vw;
}

#logo {
  margin: 0;

  width: 120px;
  font-family: Arial;
  font-weight:bolder;
  font-size: xx-large;
  color: white;
}

#logo:hover {
  opacity: 80%;
}

#cart {
  padding: 0;
  vertical-align:middle;
  width: 45px; height: 45px;
}

.navbar-nav a:hover  {
  opacity: 70%;
}

#cart:hover {
  opacity: 75%;
}

#navbarScroll {
  flex-grow: 0;
  margin-right: 0%;
}

#navbarScroll a {
  margin-right: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: white;
}

#nav-container {
  width: 100%;
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0) !important;
}

#nav-toggle {
  margin-right: 1.5%;
}

/* Dropdown items */

.dropdown-menu  {
  background-color: var(--main-dark-color);
}

.dropdown-item:hover, .dropdown-item:active {
  background-color: var(--main-color);
}

.dropdown-menu .dropdown-item {
  text-decoration: none !important;
}