#item-list-container {
  color: black;
  background-color: whitesmoke;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

/* Greeting */

#store-title {
  display: block;
  height: 50vh;
  background: var(--main-color);
}

#greeting {
  max-width: 66%;
  font-size: calc(1.75vw + 3.25vh);
  font-weight: 700;
  font-family: sans-serif, Arial, Helvetica;
  transform: translate(5vw,17.5vh);
  text-align: left;
  color: white;
}

/* Products */

#product-list {
  min-height: 100vh;
  color: var(--main-color);
  padding: 0 5.5% 2.5% 5.5%;
  margin: 2.5% 0 0 0;
  justify-content: center;
}

#product-list hr {
  margin: 0 8% 0 8%;
}
