.carta {
  border-width: 1px;
  box-sizing: content-box;
  overflow: hidden;
  background-color: rgb(250,250,250);
  padding: 0;
  margin: 2.5% 1.5% 2.5% 1.5%;
  width: 20%;
  min-width: 15%;
  color:#212529;
  
  display: flex;
  justify-content: space-between;
  
  transition: 0.3s;
}

.body-card {
  padding: 5px 15px 5px 15px;
}

.titulo-carta {
  padding: 0;
  margin: 0 0 3px 0;
  font-size: large;
}

.item-desc {
  font-size:medium;
}

.item-price {
  font-size:larger;
  color: #db6b97;
}

.item-footer {
  padding: 2.5px 0 2.5px 0;
  font-size: smaller;
}

@media (max-width: 996px) {
  .carta {
    width: 45%;
  }
}

.carta:hover {
  box-shadow: 0 4.5px 9px 0 rgba(0, 0, 0, 0.35);
}

.cuerpo-carta { background-color: white; }

.texto-carta {
  margin: 5% 0 0 0;
}

.titulo-carta { padding-bottom: 0; }

.item-count-container {
  display: inline-block;
  width: 85%;
}