#item-list-container {
  color: black;
  background-color: whitesmoke;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#titulo-tienda {
  display: block;
  height: 50vh;
  background: #E698B7;
  /*background: linear-gradient(90deg, rgba(255,219,219,1) 0%, rgba(219,107,144,1) 0%, rgba(203,112,148,1) 100%);*/
}

#greeting {
  max-width: 66%;
  font-size: calc(1.75vw + 3.25vh);
  font-weight: 700;
  font-family: sans-serif, Arial, Helvetica;
  transform: translate(5vw,17.5vh);
  text-align: left;
  color: white;
}

hr {
  margin: 0 10% 0 10%;
}

#lista-productos {
  min-height: 100vh;
  color: #E698B7;
  padding: 0 5.5% 2.5% 5.5%;
  margin: 2.5% 0 0 0;
  justify-content: center;
}

#producto-seleccionado {
  margin: 5% 0 5% 0;
  height: 400px;
}