.item-card {
  border-width: 1px;
  box-sizing: content-box;
  overflow: hidden;
  background-color: rgb(250,250,250);
  padding: 0;
  margin: 2.5% 2% 2.5% 2%;
  width: 20%;
  min-width: 10rem;
  color:#212529;
  
  display: flex;
  justify-content: space-between;
  
  transition: 0.3s;
}

.item-card:hover {
  box-shadow: 0 4.5px 9px 0 rgba(0, 0, 0, 0.35);
}

/* Body */

.body-card {
  padding: 5px 15px 5px 15px;
}

/* Text */

.item-text {
  margin: 5% 0 0 0;
}

.item-title {
  padding: 0;
  margin: 0 0 3px 0;
  font-size: large;
}

.item-desc {
  font-size:medium;
}

.item-price {
  font-size:larger;
  color: var(--main-dark-color);
}

.item-footer {
  padding: 2.5px 0 2.5px 0;
  font-size: smaller;
  background-color: pink;
}

/* Count */

.item-count-container {
  display: inline-block;
  width: 85%;
}

/* Effects */

@media (max-width: 996px) {
  .carta {
    width: 45%;
  }
}
