#item-detail {
  font-family: sans-serif, Arial, Helvetica;
  background-color: rgb(250, 250, 250);
  padding-bottom: 2%;
}

/* Image */

#img-container-item-detail {
  padding: 2.5% 0% 0 7.5%;
  margin: 0 0 5% 0;
  max-height: 550px;

  background-color: transparent;
}

@media (max-width: 1200px){
  #img-container-item-detail {
    padding: 5% 5% 0 5%;
  }
}

#img-item-detail {
  max-width: 100%;
  margin-top: 0;
  border-color: whitesmoke;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5%;
}

#title-item-choser {
  color: var(--main-color);
  padding-bottom: 5%;
}

/* Info container */

#info-item-detail {
  background-color: transparent;
  margin: 0 2.5% 0 2.5%;
  padding: 3% 0 5% 0;
}

/* Text-Info container */

#text-info-item-detail {
  height: fit-content;
  background-color: transparent;
  padding: 0 10% 0 10%;
}

#text-info-inner-item-detail {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
  width: 375px;
  overflow: hidden;
  border-radius: 2%;
  background-color: white;
  margin-right: 0 !important;
}

/* Title */

#title-item-detail h3 {
  font-size: 33px;
  color: white;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Description */

#description-item-detail {
  font-size: large;
  margin: 5% 10% 5% 10%;
  text-align:justify;
}

/* Bottom info */

#bottom-info-item-detail {
  
  margin: 100px 0 2.5% 0;
}

#price-item-detail {
  color: var(--main-color);
  margin:  7rem 0 0 0;
}

/* Stock */

#cart-stock-item-detail {
  margin-bottom: 5%;
}

#stock-item-detail {
  font-size: large;
  margin: 10% 0 0 0;
}

#in-cart-item-detail {
  font-style: italic;
}

#title-item-detail {
  height: 4rem;
  font-family: sans-serif, Arial, Helvetica;
  background-color: var(--main-color) ;
}

/* Cart */

.add-cart-container {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: inline-block;
}

.add-cart {
  width: 100%;
  border-radius: 3%;
  font-size: 90%;
  background-color: var(--main-color) !important;
  border-color: transparent !important;
}

.add-cart:hover, .add-cart:focus {
  box-shadow: none !important;
  outline: none !important;
}

.add-cart:hover {
  background-color: var(--main-dark-color) !important;
}