.item-count {
  padding: 0;
  margin: -1px;
  border: 1px solid black;
  border-radius: 2px;
}

/* Buttons and input */

.item-count-element {
  text-align: center;
  border-radius: 0;
  border: 0;
  background-color: white !important;
  color: black !important;
  
  transition: 0.3s;
}

.item-count-element:hover, .item-count-element:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: transparent !important;
}

/* Just buttons */

.item-count-btn:hover {
  background-color: var(--main-color) !important;
}

.item-count-btn {
  width: 100%;
}

.item-count-span {
  width: 25%;
}