/* Carro */

.aniadir-carro-container {
    width: 85%;
    display: inline-block;
  }
  
  .aniadir-carro {
    width: 100%;
    border-radius: 3%;
    font-size: 90%;
    background-color: #398c91 !important;
    border-color: transparent !important;
  }
  
  .aniadir-carro:hover, .aniadir-carro:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  .aniadir-carro:hover {
    background-color: #337d81 !important;
  }