/* Go back */

#routes-container-item-detail {
  padding: 2% 0 2% 0;
}

#routes-item-detail {
  background-color: var(--main-color);
  padding: 2% 0 2% 0;
  overflow-y: auto;
}

#routes-item-detail span,
#routes-item-detail a {
  font-size: 15px !important;
  font-weight: 400;
  text-decoration: none; 
  color: white;
  margin-bottom: 0;
}