#img-container-item-detail {
  border: dotted;
  position: relative;
  width: 536px;
  height: 350px;
}

.img-item-detail {
  left: 0;
  position: absolute;
}

.selected-image-item-detail:hover {
  opacity: 60%;
  cursor: pointer;
}