.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 18s linear;
  }
}

.App-header {
  background-color: #db6b97;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(253,245,201);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MOVER ESTO A OTRO ARCHIVO */

#bg-superior-inner {
  padding-top:    calc(var(--vh, 1vh) * 15);
  padding-bottom: calc(var(--vh, 1vh) * 15);
}

#bg-superior {
  background: url('../public/background.jpg')
    no-repeat center 100% fixed;
  background-size: cover;
  
  height: calc(var(--vh, 1vh) * 100);
  min-height: 250px;
}

#logo-banner {
  background: url('../public/icon-banner.png')
    no-repeat center center;
  height: calc(var(--vh, 1vh) * 55);
  display: block;

  /* Para que no se corte la imagen */
  -webkit-background-size: contain;
  -moz-background-size:    contain;
  -o-background-size:      contain;
  background-size:         contain;
  /*--------------------------------*/
}